.sg-text--centered {
  text-align: center;
}

.sg-layout__content--auto-margin {
  margin: auto;
}

.sg-box--centered-text {
  text-overflow: ellipsis;
  min-height: 4.5rem;
  border-radius: 8px;
  border: 1px solid #9fa6b5;
  padding: 23px;
  background-color: #fff;
}

.sg-box__container--auto-margin {
  margin: 0.75rem 0;
}

.sg-layout__box--min-height {
  min-height: 4.5rem;
}

.sg-layout__container--hidden {
  display: none;
}

.sg-box__container--correct-answer {
  background-color: #a8edc8;
}

.sg-box__container--wrong-answer {
  background-color: #ffb3ae;
}

.sg-text--padding {
    padding: 4rem 0;
}
